
  <mat-toolbar color="primary">
    <button><mat-icon (click)="sidenav.toggle()">menu</mat-icon></button>
    <span>Library Mangement System</span>   
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav  #sidenav opened ="false" mode="side" > 
      <mat-list class="list">
       
        <mat-list-item> 
            <mat-icon class="icon">home</mat-icon> Home
        </mat-list-item>
        
        <mat-list-item> 
            <mat-icon class="icon">person</mat-icon> Add Books
        </mat-list-item>
       
        <mat-list-item>
            <mat-icon class="icon">image</mat-icon> Manage Books
        </mat-list-item>
       
        <mat-list-item> 
            <mat-icon class="icon">phone</mat-icon> Issue Books
        </mat-list-item>

        <mat-list-item> 
          <mat-icon class="icon">phone</mat-icon> Issued Books
      </mat-list-item>
    </mat-list>
      
      



    </mat-sidenav>
    <mat-sidenav-content> CONTENT </mat-sidenav-content>
 </mat-sidenav-container>

